<h2>{{plant.species}}</h2>
<h2>Edit this Plant</h2>


<form action="/plants/{{plant._id}}/update" method="post">

<label>Species</label>
<input type="text" name="species" value="{{plant.species}}">
<br>

<label>Family</label>
<input type="text" name="family" value="{{plant.family}}">
<br>

<label>Light</label>
<input type="text" name="light" value="{{plant.light}}">
<br>

<label>Maintenance</label>
<input type="text" name="maintenance" value="{{plant.maintenance}}">
<br>


<button type="submit">Save Plant</button>


</form>