<div class="enterSiteBackground">
<div class="enterSiteLayout">
  <h2>Edit {{plant.species}}</h2>
    <br>
    <form action="/plants/{{plant._id}}/update" method="post">
      <label>Species</label>
      <input class="form-control" type="text" name="species" id="exampleTextarea" value="{{plant.species}}">
    <br>
      <label>Family</label>
      <input class="form-control" type="text" name="family" id="exampleTextarea" value="{{plant.family}}">
    <br>
      <label>Light</label>
      <input class="form-control" type="text" name="light" id="exampleTextarea" value="{{plant.light}}">
    <br>
      <label>Climate</label>
      <input class="form-control" type="text" name="climate" id="exampleTextarea" value="{{plant.climate}}">
    <br>
      <label>Maintenance</label>
      <input class="form-control" type="text" name="maintenance" id="exampleTextarea" value="{{plant.maintenance}}">
    <br>
      <button class="btn btn-primary btn-sm" type="submit">Save Plant</button>
    </form>
  </div>
</div>