
<div class="enterSiteBackground">
<section class="plantInfoSection">
<div class="plantInfoLayout">
<div class="card mb-3 plantInfo">
  <h2 class="card-header">{{plant.species}}</h2>
    <div class="card-body">
      <h5 class="card-title">Member of the <b>{{plant.family}}</b> family</h5>
    </div>
      <img src="{{plant.image}}" alt="Plant image" class="plantInfoImage">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Maintenance:</b> {{plant.maintenance}}</li>
        <li class="list-group-item"><b>Climate:</b> {{plant.climate}}</li>
        <li class="list-group-item"><b>Light:</b> {{plant.light}}</li>
      </ul>
    <div class="card-body plantInfoButtons">
      <a class="btn btn-info spaceBetweenButtons" href="/plants/{{plant._id}}/edit" role="button">Edit Plant</a>
      <a class="btn btn-warning spaceBetweenButtons" href="/plants/{{plant._id}}/comments/new" role="button">Comment</a>
      <form action="/plants/{{plant._id}}/delete" method="POST">
        <button class="btn btn-danger spaceBetweenButtons" type="submit">Delete</button>
      </form>
    </div>
    <div class="card-footer text-muted"></div>
</div>
</div>

<div class="card mb-3 plantInfo">
  <h2 class="card-header">Comments</h2>
  <br>
  <div class="commentsLayout">
  {{#each plant.comments}}
    <h6><b>{{this.reviewer}}</b></h6>
      <p>{{this.content}}</p>
    <form action="/plants/{{../plant._id}}/comments/delete/{{@index}}" method="post">
      <button class="btn btn-secondary btn-sm">Delete Comment</button>
    </form>
    <hr>
  {{/each}}
  </div>
</div>
</section>
</div>

