<h1>{{plant.species}} Info</h1>

<span>{{plant.family}}</span>
<br>
<span>{{plant.light}}</span>
<br>
<span>{{plant.climate}}</span>
<br>
<span>{{plant.maitenance}}</span>
<br>
<span>{{plant.image}}</span>

